
<header class="header" id="header">
    <div class="header_toggle"> <box-icon id="header-toggle" name='menu'></box-icon></i> </div>
</header>
<div class="l-navbar" id="nav-bar">
  <nav class="nav">
      <div> <p href="#" class="nav_logo"> <span class="nav_logo-name">BM</span><span class="nav_name">Brandon Martini</span> </p>
          <div class="nav_list"> 
            <a href="#about" class="nav_link active"> <box-icon color='white' name='comment'></box-icon> <span class="nav_name">About</span> </a>
            <a href="#projects" class="nav_link"> <box-icon color='white' name='code' ></box-icon></i> <span class="nav_name">Projects</span> </a> 
            <a href="#resume" class="nav_link"> <box-icon color='white' name='file-blank' ></box-icon></i> <span class="nav_name">Resume</span> </a> 
            <a href="#contact" class="nav_link"> <box-icon color='white' name='contact' type='solid' ></box-icon><span class="nav_name">Contact</span> </a> 
      </div>
  </nav>
</div>