<div id="contact" class="">
  <h1 class="text-center about-text">{{ .heading1 }}</h1>
  <div class="text-center">
  <div class="d-flex justify-content-center mb-3">
    <div class=""><a href="mailto:brandon.k.martini@gmail.com" target="_blank"><box-icon class="col" size="200px" color="green" name='gmail' type='logo' ></box-icon></a></div>
      <div class=""><a href="https://github.com/brandon-martini" target="_blank"><box-icon class="col" size="200px" name='github' type='logo' ></box-icon></a></div>
    </div>
</div>
</div>

