{{ $page := . }}
<div id="projects" class="bg-light">
  <br />
  <h1 class="text-center">{{ .heading1 }}</h1>
  <br />
  <div class="row">
    <h2 class="text-center">{{ .heading2 }}</h2>
  {{ range .websites }}
  <div class="col-lg  project-card {{ .bg }}">
    <img class="responsive-img" src="{{ .img }}"/>
    <h3 class="text-center">{{ .heading3 }}</h3>
    <p class="text-center">{{ .description | markdownify }}</p>
    <div class="text-center"><a href="{{ .button_link }}" class="btn btn-primary " target="_blank">{{ .button_text }}</a></div>
    <hr />
    <ul>
      {{ range .bullets }}
      <li>{{ . }}</li>
      {{ end }}
      </ul>
  </div>
  {{ end }}
  <div class="row">
    <h2 class="text-center">{{ .heading4 }}</h2>
  {{ range .apps }}
  <div class="col-lg project-card {{ .bg }}">
    <img class="responsive-img" src="{{ .img }}"/>
    <h3 class="text-center">{{ .heading3 }}</h3>
    <p class="text-center">{{ .description | markdownify }}</p>
    <div class="row">
    {{ range .buttons }}
    
    <div class="text-center col-xl project-button"><a href="{{ .button_link }}" class="btn btn-primary " target="_blank">{{ .button_text }}</a></div>
  
    {{ end }}
  </div>
    <hr />
    <ul>
      {{ range .bullets }}
      <li>{{ . }}</li>
      {{ end }}
      </ul>
  </div>
  {{ end }}
</div> 
</div>
</div>