<div id="resume" class="">
  <h1 class="text-center about-text">{{ .heading1 }}</h1>
  <div class="text-center">
  <h2 class="text-center about-text">View my resume. References are available upon request.</h2>
  <div class="d-flex justify-content-center mb-3">
  <div class=""><a href="{{ .pdf }}" target="_blank"><box-icon color='red' type='solid' name='file-pdf' size="200px"></box-icon></a></div>
  <div class=""><a href="{{ .doc }}"><box-icon name='file-doc' type='solid' color='lightblue' size="200px" ></box-icon></a></div>
</div>
</div>
</div>