<div id="resume" class="bg-dark sub-sec">
  <h1 class="text-center about-text">{{ .heading1 }}</h1>
  <div class="text-center">
  <h2 class="text-center about-text">View my resume. References are available upon request.</h2>
  <div class="row">
  <div class="col"><a href="#"><box-icon color='red' type='solid' size="lg" name='file-pdf'></box-icon></a></div>
  <div class="col"><a href="#"><box-icon name='file-doc' type='solid' size="lg" color='lightblue' ></box-icon></a></div>
</div>
</div>
</div>